body {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Nunito", sans-serif;
  gap: 0.5rem;
  background-color: hsl(120, 30%, 90%);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-weight: 600;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  /* margin: 1rem .5rem; */
  border-bottom: 1px solid grey;
  padding-bottom: 0.25rem;
  padding-top: 0.75rem;
}

nav {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  border-right: 1px solid grey;
  /* position: fixed; */
}

@media (max-width: 600px) {
  body {
    grid-template-columns: auto;
  }
}

main {
  position: relative;
}
